---
import Main from "@/layouts/Main.astro";
---

<Main title="Copyright | Bible Games">
  <section class="panel">
    <h1 class="title">Copyright</h1>

    <p class="subtitle">Matthew 10:8: "Freely you have received; freely give."</p>

    <p>
      Unless otherwise noted, original page layout and game-output formatting on this site may be shared freely.
    </p>

    <p>
      Bible text used in puzzles comes from the Berean Standard Bible (BSB) which has been dedicated to the public domain. Minor moodications have been made to the text.
    </p>

  </section>
</Main>
