<footer class="site-footer no-print">
  <p class="footer-links">
    <a class="footer-primary" href="/">Games</a>
    <span aria-hidden="true">|</span>
    <a href="/about">About</a>
    <span aria-hidden="true">|</span>
    <a href="/copyright">Copyright</a>
    <span aria-hidden="true">|</span>
    <a href="https://github.com/abereanone/biblegames/issues" target="_blank" rel="noopener noreferrer">Report a Problem</a>
    <span aria-hidden="true">|</span>
    <a href="/printing-advice">Printing Advice</a>
  </p>
  <p class="footer-copy">Our work is free to share</p>
</footer>
