<footer class="site-footer no-print">
  <p class="footer-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/copyright">Copyright</a>
    <a href="https://github.com/abereanone/biblegames/issues">Report a Problem</a>
  </p>
  <p class="footer-copy">Our work is free to share</p>
</footer>
